{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/members/tacokit/idOrganizations?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.267.1"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418727344569"], "Content-Type":["application/json"], "X-Iinfo":["9-62844243-62770624 PNNY RT(1418727343458 56) q(0 0 0 -1) r(0 0)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"WyI1NDhlMzBlOTY4M2UxOTIzZjY3NmJhMjAiXQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Dec 2014 10:55:44 GMT"}],"recorded_with":"VCR 2.9.3"}