{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/members/tacokit/fullName?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.266.2"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418582129452"], "Content-Type":["application/json"], "X-Iinfo":["10-53023915-53008094 PNNY RT(1418582128337 90) q(0 0 0 -1) r(0 0)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJfdmFsdWUiOiJUYWNvIEtpdCJ9Cg==\n"},"http_version":null},"recorded_at":"Sun, 14 Dec 2014 18:35:29 GMT"}],"recorded_with":"VCR 2.9.3"}