{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/members/tacokit/fullName?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.267.1"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418727298104"], "Content-Type":["application/json"], "X-Iinfo":["3-4833794-4830227 PNNY RT(1418727296979 104) q(0 0 0 -1) r(1 1)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJfdmFsdWUiOiJUYWNvIEtpdCJ9Cg==\n"},"http_version":null},"recorded_at":"Tue, 16 Dec 2014 10:54:58 GMT"}],"recorded_with":"VCR 2.9.3"}