{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/members/tacokit/boardStars?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.267.1"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418736712402"], "Content-Type":["application/json"], "X-Iinfo":["10-81394920-81360453 PNNY RT(1418736711313 52) q(0 0 0 -1) r(1 1)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"W3siaWQiOiI1NDhlMzA5NTZkY2EwZTFmY2UzNGRmNmMiLCJpZEJvYXJkIjoi\nNTQ4YTY3NTU4MWQxZDY2OWM5ZTgxODRlIiwicG9zIjoxNjM4NH1d\n"},"http_version":null},"recorded_at":"Tue, 16 Dec 2014 13:31:52 GMT"}],"recorded_with":"VCR 2.9.3"}