{"http_interactions":[{"request":{"method":"delete","uri":"https://api.trello.com/1/tokens/fake_token_id?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"X-Trello-Version":["1.269.0"], "X-Trello-Environment":["Production"], "Content-Type":["text/plain"], "X-Iinfo":["8-65371291-65354169 PNNY RT(1418936317196 83) q(0 0 0 -1) r(1 1) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"aW52YWxpZCB0b2tlbgo=\n"},"http_version":null},"recorded_at":"Thu, 18 Dec 2014 20:58:42 GMT"}],"recorded_with":"VCR 2.9.3"}