{"http_interactions":[{"request":{"method":"delete","uri":"https://api.trello.com/1/tokens/faketokenid?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"X-Trello-Version":["1.505.0"], "X-Trello-Environment":["Production"], "Content-Type":["text/plain; charset=utf-8"], "Etag":["W/\"d-fb702c1a\""], "X-Iinfo":["9-39038302-39030067 PNNN RT(1445704837539 39) q(0 0 0 -1) r(0 0) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"aW52YWxpZCB0b2tlbg==\n"},"http_version":null},"recorded_at":"Sat, 24 Oct 2015 16:40:39 GMT"}],"recorded_with":"VCR 2.9.3"}