{"http_interactions":[{"request":{"method":"delete","uri":"https://api.trello.com/1/tokens/faketokenid?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"X-Trello-Version":["1.272.0"], "X-Trello-Environment":["Production"], "Content-Type":["text/plain"], "X-Iinfo":["9-54476322-54468024 PNNY RT(1419861456955 62) q(0 0 0 1) r(0 0) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"aW52YWxpZCB0b2tlbgo=\n"},"http_version":null},"recorded_at":"Mon, 29 Dec 2014 13:57:38 GMT"}],"recorded_with":"VCR 2.9.3"}