{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/actions/548e3153ea7ca8f9cd3cb77b/type?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.268.2"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418787966649"], "Content-Type":["application/json"], "X-Iinfo":["9-73492284-73351768 PNNY RT(1418787965575 45) q(0 0 0 -1) r(0 0) U10000"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJfdmFsdWUiOiJhZGRUb09yZ2FuaXphdGlvbkJvYXJkIn0K\n"},"http_version":null},"recorded_at":"Wed, 17 Dec 2014 03:46:09 GMT"}],"recorded_with":"VCR 2.9.3"}