{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/webhooks/5491ff14d60e03635c260393/callbackUrl?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.269.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418854331109"], "Content-Type":["application/json"], "X-Iinfo":["7-46391732-46280522 PNNY RT(1418854330365 51) q(0 0 0 -1) r(0 0)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJfdmFsdWUiOiJodHRwczovL3RhY29raXQuaGVyb2t1YXBwLmNvbS93ZWJo\nb29rIn0K\n"},"http_version":null},"recorded_at":"Wed, 17 Dec 2014 22:12:19 GMT"}],"recorded_with":"VCR 2.9.3"}