{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/webhooks/549036896bf729c446859b22/callbackUrl?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.268.2"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418784901626"], "Content-Type":["application/json"], "X-Iinfo":["9-73033971-73019815 PNNY RT(1418784900555 41) q(0 0 0 -1) r(1 1)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJfdmFsdWUiOiJodHRwczovL3RhY29raXQuaGVyb2t1YXBwLmNvbS93ZWJo\nb29rIn0K\n"},"http_version":null},"recorded_at":"Wed, 17 Dec 2014 02:55:03 GMT"}],"recorded_with":"VCR 2.9.3"}