{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/members/tacokit/boardStars?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.311.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1425244673843"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"54-e3298d01\""], "X-Iinfo":["8-15847483-15817223 PNNY RT(1425244673300 62) q(0 0 0 -1) r(1 1)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"W3siaWQiOiI1NDhlMzA5NTZkY2EwZTFmY2UzNGRmNmMiLCJpZEJvYXJkIjoi\nNTQ4YTY3NTU4MWQxZDY2OWM5ZTgxODRlIiwicG9zIjoxNjM4NH1d\n"},"http_version":null},"recorded_at":"Sun, 01 Mar 2015 21:17:53 GMT"}],"recorded_with":"VCR 2.9.3"}