{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/cards/k7GHJj7Q/stickers?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.277.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1420950111957"], "Content-Type":["application/json"], "X-Iinfo":["9-75777644-75777082 PNNN RT(1420950111737 75) q(0 0 0 -1) r(0 0)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Sun, 11 Jan 2015 04:21:52 GMT"}],"recorded_with":"VCR 2.9.3"}