{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/lists/548dd948ffd374221926b4c8?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.533.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1448561263664"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"71-72f60639\""], "X-Iinfo":["9-71969599-71704312 PNNY RT(1448561262713 76) q(0 0 0 -1) r(1 1) U2"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjU0OGRkOTQ4ZmZkMzc0MjIxOTI2YjRjOCIsIm5hbWUiOiJMaXN0\nIDEiLCJjbG9zZWQiOmZhbHNlLCJpZEJvYXJkIjoiNTQ4YTY3NTU4MWQxZDY2\nOWM5ZTgxODRlIiwicG9zIjo2NTUzNX0=\n"},"http_version":null},"recorded_at":"Thu, 26 Nov 2015 18:07:43 GMT"}],"recorded_with":"VCR 2.9.3"}