{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/lists/548dd948ffd374221926b4c8?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.266.2"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418604280957"], "Content-Type":["application/json"], "X-Iinfo":["8-30380508-30377908 PNNY RT(1418604279848 59) q(0 0 0 -1) r(0 0) U10000"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjU0OGRkOTQ4ZmZkMzc0MjIxOTI2YjRjOCIsIm5hbWUiOiJMaXN0\nIDEiLCJjbG9zZWQiOmZhbHNlLCJpZEJvYXJkIjoiNTQ4YTY3NTU4MWQxZDY2\nOWM5ZTgxODRlIiwicG9zIjo2NTUzNX0=\n"},"http_version":null},"recorded_at":"Mon, 15 Dec 2014 00:44:41 GMT"}],"recorded_with":"VCR 2.9.3"}