{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/tokens/<TRELLO_APP_TOKEN>/dateCreated?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.268.2"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418775178448"], "Content-Type":["application/json"], "X-Iinfo":["7-39394016-39373692 PNNY RT(1418775177720 42) q(0 0 0 -1) r(1 1)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJfdmFsdWUiOiIyMDE0LTEyLTE2VDIxOjEzOjA2LjAzOFoifQo=\n"},"http_version":null},"recorded_at":"Wed, 17 Dec 2014 00:13:06 GMT"}],"recorded_with":"VCR 2.9.3"}