{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/tokens/<TRELLO_APP_TOKEN>/dateCreated?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.269.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418854164562"], "Content-Type":["application/json"], "X-Iinfo":["8-52916801-52913623 PNNY RT(1418854163792 94) q(0 0 0 -1) r(1 1)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJfdmFsdWUiOiIyMDE0LTEyLTE3VDE5OjUyOjI2LjAzOVoifQo=\n"},"http_version":null},"recorded_at":"Wed, 17 Dec 2014 22:09:33 GMT"}],"recorded_with":"VCR 2.9.3"}