{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/labels/548a675574d650d567d52ad5?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.266.2"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418584389189"], "Content-Type":["application/json"], "X-Iinfo":["10-53506743-53482683 PNNY RT(1418584388086 47) q(0 0 0 -1) r(0 0)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjU0OGE2NzU1NzRkNjUwZDU2N2Q1MmFkNSIsImlkQm9hcmQiOiI1\nNDhhNjc1NTgxZDFkNjY5YzllODE4NGUiLCJuYW1lIjoiTGFiZWwgNiIsImNv\nbG9yIjoiYmx1ZSIsInVzZXMiOjB9\n"},"http_version":null},"recorded_at":"Sun, 14 Dec 2014 19:13:09 GMT"}],"recorded_with":"VCR 2.9.3"}