{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/cards/k7GHJj7Q/checkItemStates?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.505.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1445704805057"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"3f-406fa95f\""], "X-Iinfo":["1-8283365-8281027 PNNN RT(1445704804170 53) q(0 0 0 -1) r(0 0)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"W3siaWRDaGVja0l0ZW0iOiI1NDhkZGQ0NTFlY2EwYTU4NjhlZjY0NDYiLCJz\ndGF0ZSI6ImNvbXBsZXRlIn1d\n"},"http_version":null},"recorded_at":"Sat, 24 Oct 2015 16:40:05 GMT"}],"recorded_with":"VCR 2.9.3"}