{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/cards/k7GHJj7Q/checkItemStates?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.533.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1448561221389"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"3f-406fa95f\""], "X-Iinfo":["9-71951211-71945792 PNNY RT(1448561220411 67) q(0 0 0 -1) r(1 1) U2"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"W3siaWRDaGVja0l0ZW0iOiI1NDhkZGQ0NTFlY2EwYTU4NjhlZjY0NDYiLCJz\ndGF0ZSI6ImNvbXBsZXRlIn1d\n"},"http_version":null},"recorded_at":"Thu, 26 Nov 2015 18:07:01 GMT"}],"recorded_with":"VCR 2.9.3"}