{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/cards/k7GHJj7Q/checkItemStates?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.277.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1420948984757"], "Content-Type":["application/json"], "X-Iinfo":["8-81848088-81831499 PNNN RT(1420948984500 114) q(0 0 0 0) r(0 0)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"W3siaWRDaGVja0l0ZW0iOiI1NDhkZGQ0NTFlY2EwYTU4NjhlZjY0NDYiLCJz\ndGF0ZSI6ImNvbXBsZXRlIn1d\n"},"http_version":null},"recorded_at":"Sun, 11 Jan 2015 04:03:04 GMT"}],"recorded_with":"VCR 2.9.3"}