<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tacokit Sandbox</title>
  <link href="/stylesheets/app.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="main">
    <h1>Welcome to the Tacokit Sandbox</h1>
    <%= yield %>
  </div>
</body>
</html>
