{"http_interactions":[{"request":{"method":"post","uri":"https://api.trello.com/1/labels?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"UTF-8","base64_string":"eyJpZEJvYXJkIjoiNTQ4YTY3NTU4MWQxZDY2OWM5ZTgxODRlIiwibmFtZSI6\nIlRlc3QgTGFiZWwgWCIsImNvbG9yIjoic2t5In0=\n"},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.533.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1448561262419"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"73-5359330b\""], "X-Iinfo":["7-37989794-37986073 PNNY RT(1448561261429 77) q(0 0 0 -1) r(1 1) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjU2NTc0YTZlY2FkNTY2NjJkNThiYTNkOSIsImlkQm9hcmQiOiI1\nNDhhNjc1NTgxZDFkNjY5YzllODE4NGUiLCJuYW1lIjoiVGVzdCBMYWJlbCBY\nIiwiY29sb3IiOiJza3kiLCJ1c2VzIjowfQ==\n"},"http_version":null},"recorded_at":"Thu, 26 Nov 2015 18:07:42 GMT"},{"request":{"method":"delete","uri":"https://api.trello.com/1/labels/56574a6ecad56662d58ba3d9?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.533.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1448561262698"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"2-a3a6bf43\""], "X-Iinfo":["10-82778050-82469514 PNNY RT(1448561261690 84) q(0 0 0 -1) r(1 1) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"e30=\n"},"http_version":null},"recorded_at":"Thu, 26 Nov 2015 18:07:42 GMT"}],"recorded_with":"VCR 2.9.3"}