{"http_interactions":[{"request":{"method":"delete","uri":"https://api.trello.com/1/labels/562bb19a667c1469b3c7a31b?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.505.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1445704090382"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"2-a3a6bf43\""], "X-Iinfo":["10-44515405-44489479 PNNN RT(1445704089488 36) q(0 0 0 -1) r(0 0) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"e30=\n"},"http_version":null},"recorded_at":"Sat, 24 Oct 2015 16:28:11 GMT"},{"request":{"method":"post","uri":"https://api.trello.com/1/labels?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"UTF-8","base64_string":"eyJpZEJvYXJkIjoiNTQ4YTY3NTU4MWQxZDY2OWM5ZTgxODRlIiwibmFtZSI6\nIlRlc3QgTGFiZWwgWCIsImNvbG9yIjoic2t5In0=\n"},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.505.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1445704828361"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"73-e11764ae\""], "X-Iinfo":["6-12910468-12909833 PNNN RT(1445704827453 42) q(0 0 0 -1) r(1 1) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjU2MmJiNDdjM2I4MmUwNzMyNGQ4NGRjYSIsImlkQm9hcmQiOiI1\nNDhhNjc1NTgxZDFkNjY5YzllODE4NGUiLCJuYW1lIjoiVGVzdCBMYWJlbCBY\nIiwiY29sb3IiOiJza3kiLCJ1c2VzIjowfQ==\n"},"http_version":null},"recorded_at":"Sat, 24 Oct 2015 16:40:29 GMT"},{"request":{"method":"delete","uri":"https://api.trello.com/1/labels/562bb47c3b82e07324d84dca?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.505.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1445704828504"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"2-a3a6bf43\""], "X-Iinfo":["9-39036053-39030067 PNNN RT(1445704827605 48) q(0 0 0 -1) r(1 1) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"e30=\n"},"http_version":null},"recorded_at":"Sat, 24 Oct 2015 16:40:29 GMT"}],"recorded_with":"VCR 2.9.3"}