{"http_interactions":[{"request":{"method":"post","uri":"https://api.trello.com/1/labels?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"UTF-8","base64_string":"Y29sb3I9c2t5JmlkQm9hcmQ9NTQ4YTY3NTU4MWQxZDY2OWM5ZTgxODRlJm5h\nbWU9VGVzdCtMYWJlbCtY\n"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.269.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418878845190"], "Content-Type":["application/json"], "X-Iinfo":["7-38535251-38516100 PNNY RT(1418878844047 85) q(0 0 0 -1) r(0 0) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjU0OTI1ZjdkOGUzYTFlOWM3ZTY4YjViMSIsImlkQm9hcmQiOiI1\nNDhhNjc1NTgxZDFkNjY5YzllODE4NGUiLCJuYW1lIjoiVGVzdCBMYWJlbCBY\nIiwiY29sb3IiOiJza3kiLCJ1c2VzIjowfQ==\n"},"http_version":null},"recorded_at":"Thu, 18 Dec 2014 05:00:45 GMT"},{"request":{"method":"delete","uri":"https://api.trello.com/1/labels/54925f7d8e3a1e9c7e68b5b1?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.269.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418878845396"], "Content-Type":["application/json"], "X-Iinfo":["9-87332068-87325804 PNNY RT(1418878844268 60) q(0 0 0 -1) r(1 1) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"e30=\n"},"http_version":null},"recorded_at":"Thu, 18 Dec 2014 05:00:45 GMT"}],"recorded_with":"VCR 2.9.3"}