{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/organizations/teamtacokit/premiumFeatures?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.268.2"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418774546707"], "Content-Type":["application/json"], "X-Iinfo":["8-45112208-45100037 PNNY RT(1418774545996 38) q(0 0 0 -1) r(0 0)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Wed, 17 Dec 2014 00:02:34 GMT"}],"recorded_with":"VCR 2.9.3"}