{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/organizations/teamtacokit/desc?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.268.2"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418774546575"], "Content-Type":["application/json"], "X-Iinfo":["6-30102662-30098839 PNNY RT(1418774545859 39) q(0 0 0 -1) r(1 1)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJfdmFsdWUiOiJUYWNva2l0IHRoZSBvcmdhbml6YXRpb24ifQo=\n"},"http_version":null},"recorded_at":"Wed, 17 Dec 2014 00:02:34 GMT"}],"recorded_with":"VCR 2.9.3"}