{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/members/tacokit/notifications?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.311.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1425245534909"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"2-d4cbb29\""], "X-Iinfo":["0-9578185-9578188 NNNN CT(14 13 0) RT(1425245533866 102) q(0 0 0 0) r(0 1)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Sun, 01 Mar 2015 21:32:15 GMT"}],"recorded_with":"VCR 2.9.3"}