{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/members/tacokit/notifications?key=<TRELLO_APP_KEY>&page=0&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.311.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1425301726186"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"2-d4cbb29\""], "X-Iinfo":["7-24804143-24804146 NNNY CT(8 9 0) RT(1425301725648 35) q(0 0 1 -1) r(1 1)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Mon, 02 Mar 2015 13:08:46 GMT"}],"recorded_with":"VCR 2.9.3"}