{"http_interactions":[{"request":{"method":"put","uri":"https://api.trello.com/1/labels/548a675574d650d567d52ad0?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"UTF-8","base64_string":"bmFtZT1UZXN0K0xhYmVsKzE=\n"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.269.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418860104728"], "Content-Type":["application/json"], "X-Iinfo":["10-73048447-73018705 PNNY RT(1418860103797 184) q(0 0 0 -1) r(1 1) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjU0OGE2NzU1NzRkNjUwZDU2N2Q1MmFkMCIsImlkQm9hcmQiOiI1\nNDhhNjc1NTgxZDFkNjY5YzllODE4NGUiLCJuYW1lIjoiVGVzdCBMYWJlbCAx\nIiwiY29sb3IiOiJncmVlbiIsInVzZXMiOjF9\n"},"http_version":null},"recorded_at":"Wed, 17 Dec 2014 23:48:36 GMT"}],"recorded_with":"VCR 2.9.3"}