{"http_interactions":[{"request":{"method":"put","uri":"https://api.trello.com/1/labels/548a675574d650d567d52ad0?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"UTF-8","base64_string":"eyJuYW1lIjoiVGVzdCBMYWJlbCAxIn0=\n"},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.533.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1448561262159"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"75-59103c0c\""], "X-Iinfo":["9-71968815-71704312 PNNY RT(1448561260890 360) q(0 0 0 -1) r(1 1) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjU0OGE2NzU1NzRkNjUwZDU2N2Q1MmFkMCIsImlkQm9hcmQiOiI1\nNDhhNjc1NTgxZDFkNjY5YzllODE4NGUiLCJuYW1lIjoiVGVzdCBMYWJlbCAx\nIiwiY29sb3IiOiJncmVlbiIsInVzZXMiOjF9\n"},"http_version":null},"recorded_at":"Thu, 26 Nov 2015 18:07:42 GMT"}],"recorded_with":"VCR 2.9.3"}