{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/cards/k7GHJj7Q/email?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.267.1"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418738565861"], "Content-Type":["application/json"], "X-Iinfo":["9-64397306-64319530 PNNY RT(1418738564685 98) q(0 0 0 -1) r(1 1) U10000"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJfdmFsdWUiOiJ0YWNva2l0KzU0OGE2Njk2YjNiOTkxOGJlYjE0NGIwNys1\nNDhkZDk1YzhjYTI1YWM5ZDBkOWNlNzErMzQ4MzllNTFlNTE3YmQzM2ZlZTUx\nYmQ5YTE3ZThkMmUzYzQ0MzgzNUBib2FyZHMudHJlbGxvLmNvbSJ9Cg==\n"},"http_version":null},"recorded_at":"Tue, 16 Dec 2014 14:02:45 GMT"}],"recorded_with":"VCR 2.9.3"}