{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/cards/k7GHJj7Q/labels?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.267.1"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418738566082"], "Content-Type":["application/json"], "X-Iinfo":["10-81813733-81788124 PNNY RT(1418738564921 75) q(0 0 0 -1) r(1 1) U10000"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"W3siaWQiOiI1NDhhNjc1NTc0ZDY1MGQ1NjdkNTJhZDAiLCJpZEJvYXJkIjoi\nNTQ4YTY3NTU4MWQxZDY2OWM5ZTgxODRlIiwibmFtZSI6IkxhYmVsIDEiLCJj\nb2xvciI6ImdyZWVuIiwidXNlcyI6MX1d\n"},"http_version":null},"recorded_at":"Tue, 16 Dec 2014 14:02:46 GMT"}],"recorded_with":"VCR 2.9.3"}