{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/cards/k7GHJj7Q/email?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.277.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1421071550568"], "Content-Type":["application/json"], "X-Iinfo":["6-7825999-7810321 PNNY RT(1421071549451 90) q(0 0 0 1) r(1 1) U10"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJfdmFsdWUiOiJ0YWNva2l0KzU0OGE2Njk2YjNiOTkxOGJlYjE0NGIwNys1\nNDhkZDk1YzhjYTI1YWM5ZDBkOWNlNzErMzQ4MzllNTFlNTE3YmQzM2ZlZTUx\nYmQ5YTE3ZThkMmUzYzQ0MzgzNUBib2FyZHMudHJlbGxvLmNvbSJ9Cg==\n"},"http_version":null},"recorded_at":"Mon, 12 Jan 2015 14:05:50 GMT"}],"recorded_with":"VCR 2.9.3"}