{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/cards/k7GHJj7Q/email?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.272.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1419776716127"], "Content-Type":["application/json"], "X-Iinfo":["7-20188602-20187272 PNNY RT(1419776715044 54) q(0 0 0 0) r(1 1)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"US-ASCII","base64_string":"eyJfdmFsdWUiOiJ0YWNva2l0KzU0OGE2Njk2YjNiOTkxOGJlYjE0NGIwNys1\nNDhkZDk1YzhjYTI1YWM5ZDBkOWNlNzErMzQ4MzllNTFlNTE3YmQzM2ZlZTUx\nYmQ5YTE3ZThkMmUzYzQ0MzgzNUBib2FyZHMudHJlbGxvLmNvbSJ9Cg==\n"},"http_version":null},"recorded_at":"Sun, 28 Dec 2014 14:25:17 GMT"}],"recorded_with":"VCR 2.9.3"}