{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/labels/548a675574d650d567d52ad0?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.266.2"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418602212947"], "Content-Type":["application/json"], "X-Iinfo":["8-30181712-30175785 PNNY RT(1418602211859 55) q(0 0 0 -1) r(0 0)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjU0OGE2NzU1NzRkNjUwZDU2N2Q1MmFkMCIsImlkQm9hcmQiOiI1\nNDhhNjc1NTgxZDFkNjY5YzllODE4NGUiLCJuYW1lIjoiTGFiZWwgMSIsImNv\nbG9yIjoiZ3JlZW4iLCJ1c2VzIjowfQ==\n"},"http_version":null},"recorded_at":"Mon, 15 Dec 2014 00:10:12 GMT"}],"recorded_with":"VCR 2.9.3"}