{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/labels/548a675574d650d567d52ad0?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.505.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1445704828045"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"75-59103c0c\""], "X-Iinfo":["4-4979279-4978479 PNNN RT(1445704826927 72) q(0 0 1 -1) r(3 3) U2"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjU0OGE2NzU1NzRkNjUwZDU2N2Q1MmFkMCIsImlkQm9hcmQiOiI1\nNDhhNjc1NTgxZDFkNjY5YzllODE4NGUiLCJuYW1lIjoiVGVzdCBMYWJlbCAx\nIiwiY29sb3IiOiJncmVlbiIsInVzZXMiOjF9\n"},"http_version":null},"recorded_at":"Sat, 24 Oct 2015 16:40:28 GMT"}],"recorded_with":"VCR 2.9.3"}