{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/cards/k7GHJj7Q/checkItemStates?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.272.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1419776717086"], "Content-Type":["application/json"], "X-Iinfo":["10-50683630-50678549 PNNY RT(1419776716001 55) q(0 0 0 0) r(1 1)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"US-ASCII","base64_string":"W3siaWRDaGVja0l0ZW0iOiI1NDhkZGQ0NTFlY2EwYTU4NjhlZjY0NDYiLCJz\ndGF0ZSI6ImNvbXBsZXRlIn1d\n"},"http_version":null},"recorded_at":"Sun, 28 Dec 2014 14:25:18 GMT"}],"recorded_with":"VCR 2.9.3"}