{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/cards/k7GHJj7Q/checkItemStates?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.267.1"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418738600257"], "Content-Type":["application/json"], "X-Iinfo":["10-81821515-81811205 PNNY RT(1418738599108 59) q(0 0 0 -1) r(1 1) U10000"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"W3siaWRDaGVja0l0ZW0iOiI1NDhkZGQ0NTFlY2EwYTU4NjhlZjY0NDYiLCJz\ndGF0ZSI6ImNvbXBsZXRlIn1d\n"},"http_version":null},"recorded_at":"Tue, 16 Dec 2014 14:03:20 GMT"}],"recorded_with":"VCR 2.9.3"}