{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/types/teamtacokit?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.267.1"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418737289406"], "Content-Type":["application/json"], "X-Iinfo":["3-4936295-4935529 PNNY RT(1418737288326 41) q(0 0 0 -1) r(1 1)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJ0eXBlIjoib3JnYW5pemF0aW9uIiwiaWQiOiI1NDhlMzBlOTY4M2UxOTIz\nZjY3NmJhMjAifQ==\n"},"http_version":null},"recorded_at":"Tue, 16 Dec 2014 13:41:29 GMT"}],"recorded_with":"VCR 2.9.3"}