{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/type/teamtacokit?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.266.2"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418650156992"], "Content-Type":["application/json"], "X-Iinfo":["9-50528023-50515842 PNNY RT(1418650155914 41) q(0 0 0 -1) r(1 1) U10000"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJ0eXBlIjoib3JnYW5pemF0aW9uIiwiaWQiOiI1NDhlMzBlOTY4M2UxOTIz\nZjY3NmJhMjAifQ==\n"},"http_version":null},"recorded_at":"Mon, 15 Dec 2014 13:29:17 GMT"}],"recorded_with":"VCR 2.9.3"}