{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/types/teamtacokit?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.533.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1448561277620"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"37-38098c01\""], "X-Iinfo":["5-13196919-13188672 PNNY RT(1448561276673 67) q(0 0 0 -1) r(1 1) U2"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJ0eXBlIjoib3JnYW5pemF0aW9uIiwiaWQiOiI1NDhlMzBlOTY4M2UxOTIz\nZjY3NmJhMjAifQ==\n"},"http_version":null},"recorded_at":"Thu, 26 Nov 2015 18:07:57 GMT"}],"recorded_with":"VCR 2.9.3"}