{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/boards/swezQ9XS/boardStars?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.311.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1425244884925"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"55-4376747e\""], "X-Iinfo":["5-14224294-14224296 NNNY CT(8 9 0) RT(1425244884394 36) q(0 0 0 -1) r(0 0)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"W3siX2lkIjoiNTQ4ZTMwOTU2ZGNhMGUxZmNlMzRkZjZjIiwiaWRCb2FyZCI6\nIjU0OGE2NzU1ODFkMWQ2NjljOWU4MTg0ZSIsInBvcyI6MTYzODR9XQ==\n"},"http_version":null},"recorded_at":"Sun, 01 Mar 2015 21:21:25 GMT"}],"recorded_with":"VCR 2.9.3"}