{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/boards/swezQ9XS/boardStars?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.533.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1448561208779"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"55-4376747e\""], "X-Iinfo":["9-71945725-71704312 PNNY RT(1448561207776 71) q(0 0 0 -1) r(1 1) U2"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"W3siX2lkIjoiNTQ4ZTMwOTU2ZGNhMGUxZmNlMzRkZjZjIiwiaWRCb2FyZCI6\nIjU0OGE2NzU1ODFkMWQ2NjljOWU4MTg0ZSIsInBvcyI6MTYzODR9XQ==\n"},"http_version":null},"recorded_at":"Thu, 26 Nov 2015 18:06:48 GMT"}],"recorded_with":"VCR 2.9.3"}