{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/boards/swezQ9XS/boardStars?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.311.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1425081836454"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"55-4376747e\""], "X-Iinfo":["10-15254549-15254492 PNNN RT(1425081835426 113) q(0 0 0 -1) r(0 0)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"W3siX2lkIjoiNTQ4ZTMwOTU2ZGNhMGUxZmNlMzRkZjZjIiwiaWRCb2FyZCI6\nIjU0OGE2NzU1ODFkMWQ2NjljOWU4MTg0ZSIsInBvcyI6MTYzODR9XQ==\n"},"http_version":null},"recorded_at":"Sat, 28 Feb 2015 00:03:56 GMT"}],"recorded_with":"VCR 2.9.3"}