{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/boards/swezQ9XS/boardStars?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.505.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1445704796658"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"55-4376747e\""], "X-Iinfo":["10-44706182-44527802 PNNN RT(1445704795795 35) q(0 0 0 -1) r(0 0) U2"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"W3siX2lkIjoiNTQ4ZTMwOTU2ZGNhMGUxZmNlMzRkZjZjIiwiaWRCb2FyZCI6\nIjU0OGE2NzU1ODFkMWQ2NjljOWU4MTg0ZSIsInBvcyI6MTYzODR9XQ==\n"},"http_version":null},"recorded_at":"Sat, 24 Oct 2015 16:39:57 GMT"}],"recorded_with":"VCR 2.9.3"}