{"http_interactions":[{"request":{"method":"post","uri":"https://api.trello.com/1/boards/548a675581d1d669c9e8184e/labels?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"UTF-8","base64_string":"eyJuYW1lIjoiQXV0b2xhYmVsIiwiY29sb3IiOiJibHVlIn0=\n"},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.272.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1419445092511"], "Content-Type":["application/json"], "X-Iinfo":["9-211681524-211624324 PNNY RT(1419445091541 76) q(0 0 0 0) r(1 1) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjU0OWIwMzY0YmRiOWZlMTUxZTg1NWIwMyIsImlkQm9hcmQiOiI1\nNDhhNjc1NTgxZDFkNjY5YzllODE4NGUiLCJuYW1lIjoiQXV0b2xhYmVsIiwi\nY29sb3IiOiJibHVlIiwidXNlcyI6MH0=\n"},"http_version":null},"recorded_at":"Wed, 24 Dec 2014 18:18:12 GMT"},{"request":{"method":"delete","uri":"https://api.trello.com/1/labels/549b0364bdb9fe151e855b03?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.272.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1419445099065"], "Content-Type":["application/json"], "X-Iinfo":["5-100146018-99896612 PNNY RT(1419445098133 63) q(0 0 0 1) r(1 1) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"e30=\n"},"http_version":null},"recorded_at":"Wed, 24 Dec 2014 18:18:19 GMT"}],"recorded_with":"VCR 2.9.3"}