{"http_interactions":[{"request":{"method":"post","uri":"https://api.trello.com/1/boards/548a675581d1d669c9e8184e/labels?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"UTF-8","base64_string":"eyJuYW1lIjoiQXV0b2xhYmVsIiwiY29sb3IiOiJibHVlIn0=\n"},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.272.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1419819916815"], "Content-Type":["application/json"], "X-Iinfo":["10-59303142-59303090 PNNY RT(1419819915608 110) q(0 0 0 2) r(1 1) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"US-ASCII","base64_string":"eyJpZCI6IjU0YTBiYjhjYWEwNTNkYzE4NWNiOWZhOSIsImlkQm9hcmQiOiI1\nNDhhNjc1NTgxZDFkNjY5YzllODE4NGUiLCJuYW1lIjoiQXV0b2xhYmVsIiwi\nY29sb3IiOiJibHVlIiwidXNlcyI6MH0=\n"},"http_version":null},"recorded_at":"Mon, 29 Dec 2014 02:25:17 GMT"},{"request":{"method":"delete","uri":"https://api.trello.com/1/labels/54a0bb8caa053dc185cb9fa9?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.272.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1419819917091"], "Content-Type":["application/json"], "X-Iinfo":["10-59303182-59296265 PNNY RT(1419819915882 57) q(0 0 0 0) r(2 2) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"US-ASCII","base64_string":"e30=\n"},"http_version":null},"recorded_at":"Mon, 29 Dec 2014 02:25:17 GMT"}],"recorded_with":"VCR 2.9.3"}