{"http_interactions":[{"request":{"method":"post","uri":"https://api.trello.com/1/labels?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"UTF-8","base64_string":"eyJpZEJvYXJkIjoiNTQ4YTY3NTU4MWQxZDY2OWM5ZTgxODRlIiwibmFtZSI6\nIlRlc3QgTGFiZWwgWCIsImNvbG9yIjoic2t5In0=\n"},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.533.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1448561262965"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"73-3934916f\""], "X-Iinfo":["7-37989966-37955044 PNNY RT(1448561261976 69) q(0 0 0 -1) r(1 1) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjU2NTc0YTZlOWIyMzIzYjM2MWQwNjEwMSIsImlkQm9hcmQiOiI1\nNDhhNjc1NTgxZDFkNjY5YzllODE4NGUiLCJuYW1lIjoiVGVzdCBMYWJlbCBY\nIiwiY29sb3IiOiJza3kiLCJ1c2VzIjowfQ==\n"},"http_version":null},"recorded_at":"Thu, 26 Nov 2015 18:07:42 GMT"},{"request":{"method":"delete","uri":"https://api.trello.com/1/labels/56574a6e9b2323b361d06101?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.533.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1448561263240"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"2-a3a6bf43\""], "X-Iinfo":["3-5624188-5624011 PNNY RT(1448561262249 69) q(0 0 0 -1) r(1 1) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"e30=\n"},"http_version":null},"recorded_at":"Thu, 26 Nov 2015 18:07:43 GMT"},{"request":{"method":"get","uri":"https://api.trello.com/1/labels/56574a6e9b2323b361d06101?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"X-Trello-Version":["1.533.0"], "X-Trello-Environment":["Production"], "Content-Type":["text/plain; charset=utf-8"], "Etag":["W/\"25-e08007a8\""], "X-Iinfo":["6-21421475-21415749 PNNY RT(1448561262508 68) q(0 0 0 -1) r(1 1) U11"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"VGhlIHJlcXVlc3RlZCByZXNvdXJjZSB3YXMgbm90IGZvdW5kLg==\n"},"http_version":null},"recorded_at":"Thu, 26 Nov 2015 18:07:43 GMT"}],"recorded_with":"VCR 2.9.3"}