{"http_interactions":[{"request":{"method":"post","uri":"https://api.trello.com/1/labels?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"UTF-8","base64_string":"Y29sb3I9c2t5JmlkQm9hcmQ9NTQ4YTY3NTU4MWQxZDY2OWM5ZTgxODRlJm5h\nbWU9VGVzdCtMYWJlbCtY\n"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.269.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418878845606"], "Content-Type":["application/json"], "X-Iinfo":["8-59561021-59528564 PNNY RT(1418878844464 67) q(0 0 0 -1) r(1 1) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjU0OTI1ZjdkNTI5ZWVjYjQ4ZWMwMTFiZSIsImlkQm9hcmQiOiI1\nNDhhNjc1NTgxZDFkNjY5YzllODE4NGUiLCJuYW1lIjoiVGVzdCBMYWJlbCBY\nIiwiY29sb3IiOiJza3kiLCJ1c2VzIjowfQ==\n"},"http_version":null},"recorded_at":"Thu, 18 Dec 2014 05:00:45 GMT"},{"request":{"method":"delete","uri":"https://api.trello.com/1/labels/54925f7d529eecb48ec011be?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.269.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418878845848"], "Content-Type":["application/json"], "X-Iinfo":["9-87332122-87325804 PNNY RT(1418878844695 65) q(0 0 0 -1) r(1 1) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"e30=\n"},"http_version":null},"recorded_at":"Thu, 18 Dec 2014 05:00:45 GMT"},{"request":{"method":"get","uri":"https://api.trello.com/1/labels/54925f7d529eecb48ec011be?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"X-Trello-Version":["1.269.0"], "X-Trello-Environment":["Production"], "Content-Type":["text/plain"], "X-Iinfo":["7-38535303-38533129 PNNY RT(1418878844916 80) q(0 0 0 -1) r(1 1) U11"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"VGhlIHJlcXVlc3RlZCByZXNvdXJjZSB3YXMgbm90IGZvdW5kLgo=\n"},"http_version":null},"recorded_at":"Thu, 18 Dec 2014 05:00:46 GMT"}],"recorded_with":"VCR 2.9.3"}