{"http_interactions":[{"request":{"method":"delete","uri":"https://api.trello.com/1/labels/562bb19ac427bf5ec5f7b731?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.505.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1445704090716"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"2-a3a6bf43\""], "X-Iinfo":["7-21295500-21263400 PNNN RT(1445704089803 40) q(0 0 0 -1) r(1 1) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"e30=\n"},"http_version":null},"recorded_at":"Sat, 24 Oct 2015 16:28:11 GMT"},[...]
{"request":{"method":"post","uri":"https://api.trello.com/1/labels?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"UTF-8","base64_string":"eyJpZEJvYXJkIjoiNTQ4YTY3NTU4MWQxZDY2OWM5ZTgxODRlIiwibmFtZSI6\nIlRlc3QgTGFiZWwgWCIsImNvbG9yIjoic2t5In0=\n"},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.505.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1445704828662"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"73-c343ff79\""], "X-Iinfo":["7-21386240-21368700 PNNN RT(1445704827755 39) q(0 0 0 -1) r(1 1) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjU2MmJiNDdjZjNjN2NiMGM0NDk2YTZjMCIsImlkQm9hcmQiOiI1\nNDhhNjc1NTgxZDFkNjY5YzllODE4NGUiLCJuYW1lIjoiVGVzdCBMYWJlbCBY\nIiwiY29sb3IiOiJza3kiLCJ1c2VzIjowfQ==\n"},"http_version":null},"recorded_at":"Sat, 24 Oct 2015 16:40:29 GMT"},[...]
{"request":{"method":"get","uri":"https://api.trello.com/1/labels/562bb47cf3c7cb0c4496a6c0?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"X-Trello-Version":["1.505.0"], "X-Trello-Environment":["Production"], "Content-Type":["text/plain; charset=utf-8"], "Etag":["W/\"25-e08007a8\""], "X-Iinfo":["8-27548633-27541081 PNNN RT(1445704828062 36) q(0 0 0 -1) r(1 1) U11"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"VGhlIHJlcXVlc3RlZCByZXNvdXJjZSB3YXMgbm90IGZvdW5kLg==\n"},"http_version":null},"recorded_at":"Sat, 24 Oct 2015 16:40:29 GMT"}],"recorded_with":"VCR 2.9.3"}