{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/cards/k7GHJj7Q/list?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.505.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1445704805342"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"84-9bb69629\""], "X-Iinfo":["1-8283382-8281027 PNNN RT(1445704804473 35) q(0 0 0 -1) r(0 0) U2"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjU0OGRkOTQ4ZmZkMzc0MjIxOTI2YjRjOCIsIm5hbWUiOiJMaXN0\nIDEiLCJjbG9zZWQiOmZhbHNlLCJpZEJvYXJkIjoiNTQ4YTY3NTU4MWQxZDY2\nOWM5ZTgxODRlIiwicG9zIjo2NTUzNSwic3Vic2NyaWJlZCI6ZmFsc2V9\n"},"http_version":null},"recorded_at":"Sat, 24 Oct 2015 16:40:06 GMT"}],"recorded_with":"VCR 2.9.3"}