{"http_interactions":[{"request":{"method":"put","uri":"https://api.trello.com/1/lists/548dd948ffd374221926b4c8?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"UTF-8","base64_string":"eyJuYW1lIjoiVGVzdCBMaXN0IDEifQ==\n"},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.505.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1445704829816"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"76-830523ed\""], "X-Iinfo":["9-39036342-38983955 PNNN RT(1445704828915 45) q(0 0 0 -1) r(1 1) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjU0OGRkOTQ4ZmZkMzc0MjIxOTI2YjRjOCIsIm5hbWUiOiJUZXN0\nIExpc3QgMSIsImNsb3NlZCI6ZmFsc2UsImlkQm9hcmQiOiI1NDhhNjc1NTgx\nZDFkNjY5YzllODE4NGUiLCJwb3MiOjY1NTM1fQ==\n"},"http_version":null},"recorded_at":"Sat, 24 Oct 2015 16:40:30 GMT"},{"request":{"method":"put","uri":"https://api.trello.com/1/lists/548dd948ffd374221926b4c8?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"UTF-8","base64_string":"eyJuYW1lIjoiTGlzdCAxIn0=\n"},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.505.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1445704829970"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"71-72f60639\""], "X-Iinfo":["9-39036388-39030067 PNNN RT(1445704829075 33) q(0 0 0 -1) r(0 0) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjU0OGRkOTQ4ZmZkMzc0MjIxOTI2YjRjOCIsIm5hbWUiOiJMaXN0\nIDEiLCJjbG9zZWQiOmZhbHNlLCJpZEJvYXJkIjoiNTQ4YTY3NTU4MWQxZDY2\nOWM5ZTgxODRlIiwicG9zIjo2NTUzNX0=\n"},"http_version":null},"recorded_at":"Sat, 24 Oct 2015 16:40:30 GMT"}],"recorded_with":"VCR 2.9.3"}