{"http_interactions":[{"request":{"method":"put","uri":"https://api.trello.com/1/lists/548dd948ffd374221926b4c8?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"UTF-8","base64_string":"bmFtZT1UZXN0K0xpc3QrMQ==\n"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.268.2"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418838502211"], "Content-Type":["application/json"], "X-Iinfo":["10-69944626-69943689 PNNY RT(1418838501296 205) q(0 0 0 0) r(1 1) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJpZCI6IjU0OGRkOTQ4ZmZkMzc0MjIxOTI2YjRjOCIsIm5hbWUiOiJUZXN0\nIExpc3QgMSIsImNsb3NlZCI6ZmFsc2UsImlkQm9hcmQiOiI1NDhhNjc1NTgx\nZDFkNjY5YzllODE4NGUiLCJwb3MiOjY1NTM1fQ==\n"},"http_version":null},"recorded_at":"Wed, 17 Dec 2014 17:48:22 GMT"}],"recorded_with":"VCR 2.9.3"}