{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/lists/548dd948ffd374221926b4c8/pos?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.268.2"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418764951194"], "Content-Type":["application/json"], "X-Iinfo":["3-13497755-13476560 PNNY RT(1418764950451 67) q(0 0 0 1) r(0 0)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJfdmFsdWUiOjY1NTM1fQo=\n"},"http_version":null},"recorded_at":"Tue, 16 Dec 2014 21:22:34 GMT"}],"recorded_with":"VCR 2.9.3"}