{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/members/me?key=<TRELLO_APP_KEY>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"X-Trello-Version":["1.266.2"], "X-Trello-Environment":["Production"], "Content-Type":["text/plain"], "X-Iinfo":["10-39553419-39499896 PNNY RT(1418506895502 62) q(0 0 0 -1) r(0 0) U11"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"aW52YWxpZCB0b2tlbgo=\n"},"http_version":null},"recorded_at":"Sat, 13 Dec 2014 21:41:36 GMT"}],"recorded_with":"VCR 2.9.3"}