{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/lists/548e30e9683e1923f676ba20?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"X-Trello-Version":["1.266.2"], "X-Trello-Environment":["Production"], "Content-Type":["text/plain"], "X-Iinfo":["10-57671641-57636656 PNNY RT(1418604974654 85) q(0 0 0 -1) r(1 1) U11"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"bW9kZWwgbm90IGZvdW5kCg==\n"},"http_version":null},"recorded_at":"Mon, 15 Dec 2014 00:56:15 GMT"}],"recorded_with":"VCR 2.9.3"}