{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/boards/swezQ9XS/name?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.267.1"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418737178317"], "Content-Type":["application/json"], "X-Iinfo":["8-42910008-42874926 PNNY RT(1418737177230 54) q(0 0 0 -1) r(1 1)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJfdmFsdWUiOiJUZXN0IEJvYXJkIn0K\n"},"http_version":null},"recorded_at":"Tue, 16 Dec 2014 13:39:38 GMT"}],"recorded_with":"VCR 2.9.3"}