{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/notifications/549102431b607566bafc93ab/type?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.268.2"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418789954877"], "Content-Type":["application/json"], "X-Iinfo":["5-12819986-12809129 PNNY RT(1418789953808 51) q(0 0 0 -1) r(0 0)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJfdmFsdWUiOiJtZW50aW9uZWRPbkNhcmQifQo=\n"},"http_version":null},"recorded_at":"Wed, 17 Dec 2014 04:19:17 GMT"}],"recorded_with":"VCR 2.9.3"}