{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/members/tacokit/cards?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.533.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1448561272086"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"2-d4cbb29\""], "X-Iinfo":["9-71973027-71704312 PNNY RT(1448561271124 72) q(0 0 0 -1) r(1 1) U2"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Thu, 26 Nov 2015 18:07:52 GMT"}],"recorded_with":"VCR 2.9.3"}