{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/members/tacokit/cards?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.311.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1425245147177"], "Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"2-d4cbb29\""], "X-Iinfo":["9-19021966-18951130 PNNY RT(1425245146643 30) q(0 0 0 -1) r(1 1) U10000"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Sun, 01 Mar 2015 21:25:47 GMT"}],"recorded_with":"VCR 2.9.3"}