{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/notifications/549102431b607566bafc93ab?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"X-Trello-Version":["1.505.0"], "X-Trello-Environment":["Production"], "Content-Type":["text/plain; charset=utf-8"], "Etag":["W/\"25-e08007a8\""], "X-Iinfo":["9-38913081-38898130 PNNN RT(1445704268747 50) q(0 0 0 -1) r(1 1) U11"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"VGhlIHJlcXVlc3RlZCByZXNvdXJjZSB3YXMgbm90IGZvdW5kLg==\n"},"http_version":null},"recorded_at":"Sat, 24 Oct 2015 16:31:10 GMT"}],"recorded_with":"VCR 2.9.3"}