{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/checklists/548ddd3f5402eb674035334f/pos?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.268.2"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418788929432"], "Content-Type":["application/json"], "X-Iinfo":["6-20882781-20882692 PNNY RT(1418788928330 54) q(0 0 0 0) r(1 1)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJfdmFsdWUiOjE2Mzg0fQo=\n"},"http_version":null},"recorded_at":"Wed, 17 Dec 2014 04:02:12 GMT"}],"recorded_with":"VCR 2.9.3"}