{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/members/tacokit/fullName?key=<TRELLO_APP_KEY>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.266.2"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418505746725"], "Content-Type":["application/json"], "X-Iinfo":["6-8666475-8660290 PNNY RT(1418505745628 83) q(0 0 0 -1) r(0 0)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJfdmFsdWUiOiJUYWNvIEtpdCJ9Cg==\n"},"http_version":null},"recorded_at":"Sat, 13 Dec 2014 21:22:26 GMT"},{"request":{"method":"get","uri":"https://api.trello.com/1/members/tacokit/full_name?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"X-Trello-Version":["1.266.2"], "X-Trello-Environment":["Production"], "Content-Type":["text/plain"], "X-Iinfo":["9-31427865-31426500 PNNY RT(1418506616510 52) q(0 0 0 -1) r(0 0) U11"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"Q2Fubm90IEdFVCAvMS9tZW1iZXJzL3RhY29raXQvZnVsbF9uYW1lP2tleT08\nVFJFTExPX0FQUF9LRVk+JnRva2VuPTxUUkVMTE9fQVBQX1RPS0VOPg==\n"},"http_version":null},"recorded_at":"Sat, 13 Dec 2014 21:36:57 GMT"},{"request":{"method":"get","uri":"https://api.trello.com/1/members/tacokit/fullName?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.266.2"], "X-Trello-Environment":["Production"], "X-Server-Time":["1418506896946"], "Content-Type":["application/json"], "X-Iinfo":["10-39553513-39549274 PNNY RT(1418506895865 62) q(0 0 0 -1) r(0 0) U10000"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"eyJfdmFsdWUiOiJUYWNvIEtpdCJ9Cg==\n"},"http_version":null},"recorded_at":"Sat, 13 Dec 2014 21:41:36 GMT"}],"recorded_with":"VCR 2.9.3"}