{"http_interactions":[{"request":{"method":"get","uri":"https://api.trello.com/1/cards/k7GHJj7Q/membersVoted?key=<TRELLO_APP_KEY>&token=<TRELLO_APP_TOKEN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Trello-Version":["1.277.0"], "X-Trello-Environment":["Production"], "X-Server-Time":["1420950071898"], "Content-Type":["application/json"], "X-Iinfo":["9-122359567-122328190 PNNN RT(1420950071090 77) q(0 0 0 -1) r(1 1)"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Sun, 11 Jan 2015 04:21:12 GMT"}],"recorded_with":"VCR 2.9.3"}