{"http_interactions":[{"request":{"method":"put","uri":"https://api.trello.com/1/notifications/549102431b607566bafc93ab","body":{"encoding":"UTF-8","base64_string":"eyJ1bnJlYWQiOmZhbHNlfQ==\n"},"headers":{"Authorization":["OAuth oauth_consumer_key=\"<TRELLO_APP_KEY>\", oauth_nonce=\"f0c62e82cd236a8d1da21bce1a46b7af\", oauth_signature=\"BpRDXhMTUPrFjRCofijKugDJcG8%3D\", oauth_signature_method=\"HMAC-SHA1\", oauth_timestamp=\"1445704098\", oauth_token=\"<TRELLO_OAUTH_TOKEN>\", oauth_version=\"1.0\""], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"X-Trello-Version":["1.505.0"], "X-Trello-Environment":["Production"], "Content-Type":["text/plain; charset=utf-8"], "Etag":["W/\"25-e08007a8\""], "X-Iinfo":["9-38875184-38858514 PNNN RT(1445704096508 47) q(0 0 0 -1) r(0 0) U6"], "X-Cdn":["Incapsula"]},"body":{"encoding":"UTF-8","base64_string":"VGhlIHJlcXVlc3RlZCByZXNvdXJjZSB3YXMgbm90IGZvdW5kLg==\n"},"http_version":null},"recorded_at":"Sat, 24 Oct 2015 16:28:18 GMT"}],"recorded_with":"VCR 2.9.3"}